

.test-signin-wrap {
    position: absolute;
    bottom: 70px;
    width: 100%;
    
    .msg-box {
        width: 100%;
        height: rem(30px);
        color: $secondary-color;
        text-align: center;
    }
    
    .btn-wrap {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
}