.colorWrapper {
  width: 100%;
  max-width: fit-content;
}
.title {
  font-size: $font-size-400;
  font-weight: $font-weight-bold;
  color:#000;
  margin-left: rem(20px);
  margin-bottom: rem(16px);
}
.colorSwiper {
  padding: 0px rem(20px-5px);
}
.colorSlide {
  width: rem(46px);
  height: rem(46px);
  padding: 0px;
  margin: 0px rem(5px);
  border-radius: rem(25px);
}
.colorSlide.selected {
  border: 1px solid black;
  background: url('/icons/Btn_Check_SS.svg') no-repeat center
    center;
}
